body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(45deg, cyan, rgb(177, 42, 148));
}
.tela-login{    
    background-color: rgba(0, 0, 0, 0.9); /*alfa é a transparência*/
    position: absolute; /*ocupa apenas o espaço de seus elementos*/
    top: 50%; /*desci 50%*/
    left: 50%; /*movi a esquerda 50%*/
    transform: translate(-50%,-50%); /*centralizei a div no meio da pagina*/
    padding: 80px; /* distantancia entre os elementos e a borda*/
    border-radius: 15px; /*arredondar as bordas */
    color: #fff; /*deixando o login na cor branca*/
}
input{
    padding: 15px; 
    border: none; /*retirei a borda*/
    outline: none; /*retirei a linha de fora que aparece quando clica*/
    font-size: 15px; /*aumentei a fonte*/
}
button{
    background-color: dodgerblue; /*cor do botão*/
    border: none; /*retirei a borda*/
    padding: 15px; /*distancia entre os elementos e a borda*/
    width: 100%; /*botao ocupou 100% do espaço*/
    border-radius: 10px;
    color: white; /*cor do "enviar"*/
    font-size: 15px; /*ajusatei tamanho da fonte*/
}